.order-confirmation {
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffe0e0;
}
  
.header {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    color: black;
}
.header .arrow {
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.title-checkout {
    font-size: 24px;
    font-weight: bold;
}

.hr {
    border: 1px solid #e0e0e0;
}
  
.customer-info .summary {
    margin-bottom: 20px;
}

.title-info {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.title-info p {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px; 
}

.title-info img {
    background-color: #e6707a;
    margin: 0;
    width: 20px;
    height: 20px;
}
  
.order-items {
    display: flex;
    flex-direction: column;
}
  
.order-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.pizza-img {
    width: 40px;
    height: 40px;
    margin: 0;
}
  
.view-all-btn {
    background-color: #c41f2d;
    border: none;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
  
.summary p {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
  
.payment-method {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.payment-btn {
    background-color: #7e4444;
    border: none;
    padding: 10px;
    flex: 1;
    margin: 0 5px;
    cursor: pointer;
}
  
.payment-btn.active {
    background-color: #ff6b6b;
    color: white;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 20px;
}

.modal-content p {
    margin-bottom: 20px;
}

.qr-code-container {
    text-align: center;
}

.close-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.close-btn:hover {
    background-color: #d32f2f;
}
  
  
.send-order-btn {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    cursor: pointer;
}
  