.footer-nav {
  display: flex;
  justify-content: space-around;
  background-color: #f4f4f4;
  padding: 10px 0;
}
  
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
  
.footer-nav .nav-item.active {
  font-weight: bold;
  background-color: #ef281a; 
}
  
.nav-icon {
  width: 40px; 
  height: auto;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -15px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  min-width: 20px;
  text-align: center;
}
  