.editMenu {
    background-color: #ffebeb;
    padding: 20px;
    min-height: 90vh;
}

.selectOptions {
    display: flex;
    align-items: center;
}
  
.categorySelector button {
    background-color: #ffc0cb;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}
  
.categorySelector .active {
    background-color: #8b5e3c;
    color: #fff;
}

.saveMenu {
    display: flex;
    justify-content: center;
    margin-left: auto;
}
  
.menuItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
  
.menuItem {
    background-color: #ffc0cb;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}
  
.menuItem img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
  
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
  
.pagination span {
    margin: 0 10px;
}

.unavailable {
    opacity: 0.5;
    background-color: #ccc;
}

/* nút chuyển trạng thái của món ăn */
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.switch-toggle{
    width: 50px;
    height: 30px;
    appearance: none;
    background: #1d1e1d;
    border-radius: 26px;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, .3);
    transition: var(--transition-effect);
}
.switch-toggle::before{
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top: 1px;
    left: 1px;
    background: #efe2bf;
    border-radius: 50%;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .3);
    transition: var(--transition-effect);
}

.switch-toggle:checked{
    background: #32b644;
    left: 0;
}

.switch-toggle:checked:before{
    left: 20px;
}
