.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #F9BDC0;
  border-bottom: 1px solid #eee;
}

.logoutButton {
    background-color: #333333;
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    justify-content: center;
    margin: 10px;
}

.logoutButton:hover {
    background-color: #1a1a1a;
}

.logoutIcon {
    font-size: 20px;
    cursor: pointer;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  width: auto;
  justify-content: center;
  margin: 5px;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 15px; /* Add padding to make space for the border */
  border-radius: 5px; /* Add border-radius for rounded corners */
}

.nav a.activeLink {
  color: #333;
  background-color: #fff; 
  border: 2px solid #fff;
  padding: 3px 13px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px;
}

.search-input {
  border: none;
  outline: none;
  padding: 5px;
  width: 150px;
}

.icon {
  margin-left: 5px;
  cursor: pointer;
}

.user-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

.employeeName {
  font-size: 18px; /* Increase font size */
  font-weight: bold; /* Make the text bold */
  color: #fff; /* Change color to white */
  margin-right: 20px; /* Add margin */
  padding: 5px 10px; /* Add padding */
  background-color: #333; /* Add background color */
  border-radius: 5px; /* Add border radius */
}

.currentTime {
  font-size: 16px;
  color: #333;
}